body {
  background-color: white;
  margin: 0
}
canvas {
  background-color: white;
  image-rendering: crisp-edges;
  width: 40vmin;
  height: 40vmin;
  outline: 0.2vmin solid black;
}
#mainDiv {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  gap: 5vmin;
}
#settingsDiv {
  padding: 1vmin;
  outline: 0.2vmin solid black;
  font: 3vmin sans-serif;
}
.parameterInput {
  font: 3vmin sans-serif;
  width: 10vmin
}
.playerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmin;
  outline: 0.2vmin solid black;
}
.titleDiv {
  font: 10vmin sans-serif;
}
.infoDiv {
  font: 5vmin sans-serif;
}